<h2 style="text-align: center">Форма заключения договора кредитования</h2>
<form action="/credit" method="POST">
    <div class="form-group">
        Важно. Кредиты предоставляются только в валюте BYN под 14% годовых
    </div>
    <div class="form-group">
        <label for="contractNumber" class="required">Номер пользователя</label>
        <input type="text" id="contractNumber" name="contractNumber" required>
    </div>
    <div class="form-group">
        <label for="creditType" class="required">Тип кредита</label>
        <select id="creditType" name="creditType" required>
            <option value="">Выберите тип кредита</option>
            <option value="a">Аннуитетный</option>
            <option value="d">Дифференцированный</option>
        </select>
    </div>
    <div class="form-group">
        <label for="creditAmount" class="required">Сумма кредита (от 200 до 20000)</label>
        <input type="number" id="creditAmount" name="creditAmount" min="200" max="20000" required>
    </div>
    <div class="form-group">
        <label for="interestTime" class="required">Срок кредита</label>
        <select id="interestTime" name="interestTime" required>
            <option value="">Выберите срок кредита</option>
            <option value=365>365 дней (1 год)</option>
            <option value=730>730 дней (2 года)</option>
            <option value=1095>1095 дней (3 года)</option>
            <option value=1460>1460 дней (4 года)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="interest">Предполагаемые выплаты в день</label>
        <div id="interest" name="interest">
            Нет
        </div>
    </div>
    <div class="form-group">
        <label for="interestFull">Полная сумма выплат</label>
        <div id="interestFull" name="interestFull">
            Нет
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Заключить договор" class="btn">
    </div>
    {{#if (ifdef plan)}}
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Сумма к оплате</th>
                <th>Остаток</th>
                <th>Выплачено</th>
            </tr>
        </thead>
        <tbody>
            {{#each plan}}
            <tr>
                <td>{{formatDate date}}</td>
                <td>{{money payment}}</td>
                <td>{{money rest}}</td>
                <td>{{money sum}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</form>
{{#if (ifdef error)}}
    <div id="notification-panel">
        {{#if (not error) }}
            <h4 style="color: green">Credit success :)</h4>
        {{else}}
            <h4 style="color: red">Credit failure :(</h4>
        {{/if}}
    </div>
{{/if}}
<script src="notification.js"></script>
<script>
    const interestDiv = document.getElementById('interest');
    const interestFullDiv = document.getElementById('interestFull');
    const creditAmountInput = document.getElementById('creditAmount');
    const interestRateSelect = document.getElementById('interestTime');
    const creditTypeSelect = document.getElementById('creditType');

    creditAmountInput.addEventListener('input', changedInterestRate);
    interestRateSelect.addEventListener('change', changedInterestRate);
    creditTypeSelect.addEventListener('change', changedInterestRate)

    function  changedInterestRate() {
        let m = parseFloat(interestRateSelect.value);
        const s = parseFloat(creditAmountInput.value);
        const type = creditTypeSelect.value === "a"
        if (s && m && creditTypeSelect.value &&
                s >= 200 && s <= 20000)
        {
            const interestDaily = 0.14/ 365
            if (type) {
                // Sе = S*P /12*(1+P/12)N/((1+P/12)N -1), аннуитет
                
                const daily = s*interestDaily * Math.pow(1+interestDaily, m) / (Math.pow(1+interestDaily, m) - 1)
                interestDiv.innerHTML = `${(daily).toFixed(2)} BYN`
                interestFullDiv.innerHTML = `${(daily * m).toFixed(2)} BYN`
            } else {
                // ДП = ОЗ / КП+ ОЗ х МС Дифференциальная  https://www.lockobank.ru/articles/kredity/raschet-ezhemesyachnogo-platezha-po-kreditu/
                //TEST
                //const interestDaily = 0.14/ 12
                //m= 12
                //
                let dailyFirst = s / m  + s * interestDaily
                let dailyLast = dailyFirst
                let sum = 0
                let rest = s
                for (let i = m; i > 0; i--) {
                    dailyLast = s / m  + rest * interestDaily
                    sum += dailyLast
                    rest -= s / m
                }
                interestDiv.innerHTML = `${(dailyFirst).toFixed(2)} -> ${(dailyLast).toFixed(2)} BYN`
                interestFullDiv.innerHTML = `${(sum).toFixed(2)} BYN`
            }
        } else {
            interestDiv.innerHTML = 'Нет';
            interestFullDiv.innerHTML = 'Нет'
        }
    }
</script>